<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Profile picture:</strong>
    <%= user.profile_picture %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= user.bio %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= user.location %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= user.twitter %>
  </p>

  <p>
    <strong>Github:</strong>
    <%= user.github %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= user.website %>
  </p>

</div>
