<%= form_with(model: job_listing) do |form| %>
  <% if job_listing.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(job_listing.errors.count, "error") %> prohibited this job_listing from being saved:</h2>

      <ul>
        <% job_listing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :salary, style: "display: block" %>
    <%= form.text_field :salary %>
  </div>

  <div>
    <%= form.label :job_type, style: "display: block" %>
    <%= form.text_field :job_type %>
  </div>

  <div>
    <%= form.label :industry, style: "display: block" %>
    <%= form.text_field :industry %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
